#front-main {
  height: 100vh;
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .header-text {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    #front-logo-wrapper {
      width: 265px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: Center;
      @media (min-width: 768px) {
        width: 502px;
        height: 84px;
      }
      @media (min-width: 992px) {
        width: 714px;
        height: 144px;
      }
      svg {
        fill: transparent;
        display: block;
        width: 100%;
        transition: fill 0.65s ease-in;
      }
      &.ready {
        svg {
          stroke: $yellow;
        }
      }
      &.done {
        svg {
          fill: $yellow;
        }
      }
    }

    p {
      position: relative;
      font-size: 21px;
      line-height: 24px;
      margin-top: 15px;
      padding: 40px 40px 40px 40px;
      margin-top: 25px;

      @media (min-width: 768px) {
        font-size: 32px;
        line-height: 38px;
        padding: 60px 100px 60px 60px;
        margin-top: 45px;
      }
      @media (min-width: 992px) {
        margin-top: 40px;
        font-size: 46px;
        line-height: 48px;
        padding: 100px 140px 100px 60px;
      }
      span {
        color: $yellow;
        display: inline;
        transition: all 0.65s ease-in;
      }
      &:before {
        content: "";
        background: $yellow;
        height: 100%;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: all 0.65s ease-in;
      }
      &.rotate-header {
        span {
          color: $dark;
        }
        &:before {
          opacity: 1;
          transform: rotate(3deg);
        }
      }
    }
    .header-scroll {
      color: $dark;
      position: absolute;
      left: 50%;
      bottom: 25px;
      transform: translateX(-50%);
      font-size: 11px;
      @media (min-width: 768px) {
        font-size: 16px;
      }
      &:before {
        content: "";
        width: 1px;
        height: 25px;
        background-color: $dark;
        display: block;
        position: absolute;
        top: -29px;
        left: 50%;
        animation: scrollMe 1s infinite;
        @media (min-width: 768px) {
          height: 40px;
          top: -45px;
        }
      }
    }
  }

  .beeta-bg {
    position: absolute;
    left: 50%;
    top: 20px;
    opacity: 0.2;
    transform: translateX(-50%);
    display: none;
    width: 265px;
    @media (min-width: 768px) {
      width: 502px;
    }
    @media (min-width: 992px) {
      width: 714px;
    }
    svg {
      margin-top: 35px;
      transform: translateZ(-4px);
      width: 265px;
      height: 72px;
      fill: none;
      stroke: $yellow;
      animation-timing-function: ease-in-out;
      @media (min-width: 768px) {
        width: 502px;
        height: 84px;
      }
      @media (min-width: 992px) {
        width: 714px;
        height: 144px;
      }
    }
  }
}

#front-what {
  @media (min-width: 768px) {
    padding-bottom: 135px;
  }
  .front-what-wrapper {
    margin-top: 45px;
    @media (min-width: 768px) {
      margin-top: 85px;
    }
    ul {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: 0 auto;
      @media (min-width: 768px) {
        flex-direction: column;
        width: 100%;
      }
      li {
        display: inline-block;
        font-size: 21px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        color: $mediumgray;
        text-decoration: underline;
        cursor: pointer;
        &.feature-active {
          color: $dark;
        }

        @media (min-width: 768px) {
          font-size: 32px;
          margin-top: 25px;
          display: block;
        }
        @media (min-width: 992px) {
          font-size: 46px;
        }
      }
    }

    p {
      &:not(#what1) {
        opacity: 0;
        display: none;
      }
    }
  }
}

#front-selected {
  .selected-wrapper {
    margin-top: 45px;
    width: 95%;
    @media (min-width: 768px) {
      width: 100%;
      margin-top: 85px;
    }
    .selected-single {
      background-color: $secondarybg;
      padding: 32px;
      position: relative;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
      min-width: 0;
      min-height: 0;
      &:not(:first-child) {
        margin-top: 75px;
      }
      & > div {
        flex: 0 0 50%;
        overflow: hidden;
        &.selected-single-left {
          margin-top: 45px;
          @media (min-width: 768px) {
            padding-right: 65px;
            margin-top: 0;
          }
          h1 {
            color: $mediumgray;
            font-size: 14px;
            line-height: 18px;
            text-align: left;
          }

          h2 {
            font-size: 24px;
            line-height: 29px;
            color: $turquoise;
            @media (min-width: 768px) {
              font-size: 28px;
              line-height: 34px;
            }
          }

          p {
            font-weight: 300;
            margin-top: 10px;
            color: $mediumgray;

            @media (min-width: 768px) {
              font-size: 16px;
              line-height: 21px;
            }
          }
          a {
            color: $dark;
            font-weight: 600;
            font-size: 16px;
            text-decoration: underline;
          }
        }
        &.selected-single-shadow {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 15px;
          left: 20px;
          z-index: -1;
          animation: float 30s ease-in-out infinite;
          background-color: $turquoise;
          &.shadow-2 {
            animation-delay: 2.5s;
          }
          &.shadow-3 {
            animation-delay: 4.5s;
          }
        }
      }

      &.flex-md-row-reverse {
        .selected-single-left {
          padding-right: 0;
          @media (min-width: 768px) {
            padding-left: 65px;
          }
        }
      }
    }
  }

  .crounded {
    margin-top: 95px;
  }
}

#front-wedo {
  .front-wedo-wrapper {
    @media (min-width: 768px) {
      margin-top: 40px;
    }
    .wedo-single {
      margin-top: 45px;
      @media (min-width: 768px) {
        margin-top: 0;
      }
      .wedo-icon,
      img {
        display: block;
        height: 43px;
        width: 43px;
      }

      .wedo-single-info {
        margin-top: 15px;

        h2 {
          font-family: "Poppins";
          color: $dark;
        }
        p,
        a {
          margin-top: 20px;
        }
        p {
          margin-top: 20px;
        }
        ul {
          margin-top: 15px;
          li {
            display: inline-block;
            &:not(:first-child) {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }
  .crounded-wrapper {
    margin-top: 80px;
  }
}
#front-reviews {
  background-color: #f7f7f7;
  padding-top: 45px;
  @media (min-width: 768px) {
    padding-top: 85px;
  }
  .review-slider {
    .home-review-single {
      width: 80%;
      margin: 0 auto;

      p {
        color: $dark;
        font-weight: 300;
        font-style: italic;
        position: relative;

        &:before,
        &:after {
          font-size: 18px;
          line-height: 24px;
          display: block;
          position: absolute;
          font-family: "Font Awesome 5 Free";
          font-weight: 700;
          color: $dark;
          @media (min-width: 768px) {
            font-size: 25px;
            line-height: 46px;
          }
        }

        &:before {
          content: "\f10d";
          top: 5px;
          left: -35px;
          @media (min-width: 768px) {
            top: -18px;
          }
        }

        &:after {
          content: "\f10e";
          bottom: 18px;
          right: -35px;
        }
      }

      .reviewer-info {
        margin-top: 30px;

        img {
          width: 51px;
          height: 51px;
          border-radius: 100%;
          overflow: hidden;
          object-fit: cover;
        }

        h3 {
          font-family: "Poppins", sans-serif;
          color: $mediumgray;
          font-size: 14px;
          margin-left: 15px;
        }
      }
    }
    .reviewer-company {
      background-size: 75%;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #fff;
      padding-bottom: 100%;
    }
    & + #front-clients {
      background-color: #f7f7f7;
    }
  }
}

#front-clients {
  background-color: $awhite;
  padding: 0 0 60px 0;
  .clients-partners {
    margin-top: 65px;
    overflow-x: hidden;
    h2 {
      text-align: center;
      font-family: "Poppins", sans-serif;
      font-size: 21px;
      color: $dark;
      @media (min-width: 768px) {
        font-size: 26px;
      }
    }
    .logos-slide {
      margin: 25px auto 0;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
      @media (min-width: 768px) {
        flex-flow: row nowrap;
      }
      li {
        margin: 20px 0;
        flex-basis: 50%;
        @media (min-width: 768px) {
          margin: 0;
          flex-basis: 33.3333%;
        }
        img {
          display: block;
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
}
#bee-log {
  display: none;
  .bee-log-container {
    margin-top: 45px;
    .bee-log-thumbnail {
      padding-bottom: 55%;
      background-size: cover;
      background-position: center;
    }

    .bee-log-meta {
      margin-top: 5px;

      p,
      span {
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 36px;
        color: $mediumgray;
      }

      .min-read {
        margin-left: 7px;

        &:before {
          content: "";
          margin-right: 4px;
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          background-color: $mediumgray;
          vertical-align: middle;
        }
      }
    }

    .bee-log-content {
      a {
        color: $dark;
        font-family: "Poppins", sans-serif;
        transition: color 0.35s ease-in-out;
        &:hover {
          color: $yellow;
          text-decoration: none;
        }
      }

      p {
        color: $mediumgray;
        font-size: 16px;
        line-height: 21px;
        margin-top: 15px;
      }
    }
  }
  &.white-blog {
    .bee-log-container {
      p,
      span {
        color: white;
      }
      .min-read {
        &:before {
          background-color: white;
        }
      }
    }
  }
  a.crounded {
    margin-top: 75px;
  }
}
